/* @import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap"); */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #e46161;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rbga(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgb(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transfrom 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.sectionTitle {
  margin-top: 0.25em;
}

.sectionTitleIntro {
  font-weight: var(--fw-reg);
}

.sectionSubtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.sectionSubtitleIntro,
.sectionSubtitleAbout {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo {
  max-width: 100px;
}

.nav {
  position: fixed;
  background: #654e4e;
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.navList {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  margin: 0;
}

.navLink {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: 1.8rem;
  text-decoration: none;
}

.navLink:hover {
  color: var(--clr-accent);
}

.navToggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.navOpen header {
  position: unset;
}
.navOpen .nav {
  transform: translateX(0);
}

.navOpen .navToggle {
  position: fixed;
}

.navOpen .hamburger {
  transform: rotate(0.625turn);
}

.navOpen .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.navOpen .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

@media (min-width: 1000px) {
  header {
    justify-content: normal;
  }
  header .upperHeader {
    display: none;
  }
  .nav {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 20px;
    transform: none;
    transition: none;
    right: unset;
    z-index: unset;
    bottom: unset;
    color: #646060;
    background: white;
    font-weight: bold;
  }
  .nav .navList {
    width: 100%;
    flex-direction: row;
    height: unset;
    margin: unset;
  }
  .navLink {
    font-weight: unset;
    font-size: 1.2rem;
  }
}

/*  Intro section  */
/* 
.intro {
  position: relative;
} */

.introImg {
  box-shadow: var(--bs);
}

.sectionSubtitleIntro {
  display: inline-block;
  width: 100%;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 110px auto 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      'img title'
      'img subtitle';
    grid-template-columns: min-content max-content;
  }

  .introImg {
    grid-area: img;
    min-width: 250px;
    position: relative;
    /* z-index: 2; */
  }

  .sectionSubtitleIntro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/*  My services section  */

.myServices {
  background: linear-gradient(
      rgba(200, 171, 171, 0.5),
      rgba(179, 150, 150, 0.5)
    ),
    url(img/vie.jpg);
  background-size: cover;
  /* background-blend-mode: multiply; */
  color: var(--clr-light);
  text-align: center;
}

.sectionTitleServices {
  color: var(--clr-accent);
  position: relative;
}

.sectionTitleServices::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}
.services {
  margin-bottom: 3em;
}
.service {
  max-width: 500px;
  margin: 0 auto;
}

.servicesP {
  margin-bottom: 3rem;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}
.aboutMe {
  max-width: 1000px;
  margin: 0 auto;
}

.aboutMeImg {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .aboutMe {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 90px 70px auto;
    grid-template-areas:
      'title img'
      'subtitle img'
      'text img';
    grid-column-gap: 2em;
  }

  .sectionTitleAbout {
    grid-area: title;
  }

  .sectionSubtitleAbout {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .aboutMeImg {
    grid-area: img;
    position: relative;
  }
}

.sectionTitleAbout {
  margin-bottom: 1rem;
}

/* My Work */

.myWork {
  background-color: #d3bbb6;
  color: var(--clr-light);
  text-align: center;
  padding-bottom: 11rem;
}

.servicesHeading {
  margin-bottom: 2rem;
}

.sectionSubtitleWork {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.portfolioItem {
  overflow: hidden;
  align-self: center;
}

.backgroundItem {
  background-color: white;
  display: flex;
  height: 100%;
}

.portfolioImg {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  align-self: stretch;
}

.portfolioItem:focus {
  position: relative;
  z-index: 2;
}

.portfolioImg:hover,
.portfolioItem:focus .portfolioImg {
  transform: scale(1);
  opacity: 0.5;
}

/* myProjects */

.myProjects {
  background: #79585d;
  /* ),
    url(img/vie.jpg); */
  background-size: cover;
  /* background-blend-mode: multiply; */
  color: var(--clr-light);
  text-align: center;
}

.sectionTitleProjects {
  color: var(--clr-accent);
  position: relative;
}

.sectionSubtitleProjects {
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
  color: #e8e8e8;
}

.cardGroup {
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.cardText {
  margin-top: 5px;
  font-size: 10px;
  color: white;
  margin-bottom: 0;
  user-select: none;
  display: none;
  line-height: normal;
}

.cardMeta {
  display: none;
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: #0000008f;
}

.cardImage {
  border: 0;
  width: 100%;
  max-width: 580px;
  height: 100%;
  max-height: 350px;
  cursor: pointer;
  padding: 0;
  margin: 0.3rem 0;
}

.cardImage:hover {
  transform: scale(1.01);
  z-index: 99;
}

.content {
  display: flex;
  justify-content: space-evenly;
  margin: 3.5rem 0 0 0;
}

.cardItem {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .cardItem:hover {
    display: block;
  }
}

@media (max-width: 999px) {
  .cardFeature.cardFeature {
    max-height: unset;
    padding-left: 0.1rem;
  }
  .content {
    margin-top: 0;
    max-height: unset;
    padding-bottom: 1rem;
  }
  .featureText.featureText {
    padding: 1rem 0.5rem 1rem 1.5rem;
    margin: unset;
  }
  .projectHeader.projectHeader {
    padding: 0 0.5rem;
    margin: unset;
    min-height: 4rem;
  }
  .cardImage {
    max-width: unset;
    max-height: fit-content;
  }
}

.cardFeature {
  flex-direction: row;
  background-size: contain;
  position: relative;
  max-height: 460px;
  height: 100%;
  width: 100%;
  background-position-x: right;
  background-repeat: no-repeat;
  background-color: #c7aea9;
  padding: 3rem 0;
}

.cardSubtitle {
  color: var(--clr-dark);
}

.featureTitle {
  margin-left: 0;
}

.featTitle {
  color: var(--clr-accent);
}

.featureText {
  text-align: left;
  margin: 2rem 0;
  padding: 0;
}

.projectHeader {
  text-align: left;
}

.featureClose {
  color: white;
  position: absolute;
  right: 7px;
  top: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.closeImg {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* footer */

.footer {
  background: var(--clr-dark);
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footerLink {
  font-weight: var(--fw-bold);
}

.footerLink:hover,
.socialListLink:hover {
  opacity: 0.7;
}

.footerLink:hover {
  text-decoration: underline;
}

.socialList {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.socialListItem {
  margin: 0 0.5em;
}

.socialListLink {
  padding: 0.5em;
}
